
.button {
    background-color: $blue;
    font-size: large;
    color: white;
    display: inline-block;
    font-weight: 300;
    font-size: $font-size-large;
    padding: $s-size $s-size ;
    line-height: 1;
    border: none ;
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888888;
}


